@{
    Page.Title = "RangerRadio";
}

<hgroup class="title">
 @*   <h1>@Page.Title.</h1>*@
    <h2>Ranger Radio</h2>
</hgroup>
<head>
    <title></title>
</head>

<p>
    <strong>This is were the meat of my project is located, unless, of course, your veagan. Then everything is a potato.</strong>
    The connection to the Radio Station. Selection of 
    podcasts, events and all those items that the radio club creates.
    The next meeting with the client to review the current work and aquire more data is set for Monday, 10 October. 
</p>
<p>Add three buttons to select:</p>
<p> Play Current Broadcast</p>
<p> Select Archived Broadcast</p>
<p> Something Else</p>
<body>
    <p>Put a blurb here about the radio station. </p>
    <p>
        The goal of Olympian Radio is to voice the opinions of the Olympic College Culture in an informing and entertaining
        format.

        There is a presentation to the board of trusties from the Olympian on the 16th of November and presently 
        Olympian Radio is scheduled for its betta broadcasting to begin November 28th, 2016.
        The look and feel of the site will conform to the Olympic College layout and the client’s needs.
        The site will work with the current browser standards using html5/css3.
    </p>
</body>
